@model IndustryProduction.ViewModels.Production.ProductionViewModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<!-- /.card-header -->
<div class="card-body" style="padding: 0.25rem;">
    <div id="jsGrid1"></div>
</div>